# Python and environment files
.venv/**
grid-env/**
**/__pycache__/**

# Lightning logs and models
**/lightning_logs/*
models/**
models_test/**

# Nohup and output files
nohup.out
**_file.out
**_training.out

# Plots and figures
assets/**
.lr_find_**
**/lr_finder_results.png
**/plots/**

# MacOS specific files
**/.DS_Store